/* Reset */
* {margin:0;padding:0;}
img {border:none;}
ul {list-style:none;}
cite,em,var {font-style:normal;}
table {border-collapse:collapse;}
:focus, :active {outline:none;}

/* Vertical interval */
.y-blank05 {width:100%;height:5px;font-size:0;overflow:hidden;}
.y-blank10 {width:100%;height:10px;font-size:0;overflow:hidden;}
.y-blank12 {width:100%;height:12px;font-size:0;overflow:hidden;}
.y-blank15 {width:100%;height:15px;font-size:0;overflow:hidden;}
.y-blank20 {width:100%;height:20px;font-size:0;overflow:hidden;}
.y-blank25 {width:100%;height:25px;font-size:0;overflow:hidden;}
.y-blank30 {width:100%;height:30px;font-size:0;overflow:hidden;}
.y-blank35 {width:100%;height:35px;font-size:0;overflow:hidden;}
.y-blank40 {width:100%;height:40px;font-size:0;overflow:hidden;}
.y-blank45 {width:100%;height:45px;font-size:0;overflow:hidden;}
.y-blank50 {width:100%;height:50px;font-size:0;overflow:hidden;}
.y-blank60 {width:100%;height:60px;font-size:0;overflow:hidden;}
.y-blank70 {width:100%;height:70px;font-size:0;overflow:hidden;}
.y-blank80 {width:100%;height:80px;font-size:0;overflow:hidden;}
.y-blank90 {width:100%;height:90px;font-size:0;overflow:hidden;}
.y-blank100 {width:100%;height:100px;font-size:0;overflow:hidden;}

/* Auxiliary */
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}.clearfix{*zoom:1;}
.clearperfect {clear:both;height:0;font-size:0;overflow:hidden;}

.imgBlock {display:block;width:100%;}

/* Atomic */
.fl {float:left;}
.fr {float:right;}
.db {display:block;}
.oh {overflow:hidden;}
.w1 {width:100%;}
.ma {margin-left:auto;margin-right:auto;}
.wbba {word-break:break-all;}


html {font-size:100px;}
body {line-height:1;box-sizing:border-box;font-size:14px;color:#333;font-family:'Microsoft YaHei';}
a {color:#333;text-decoration:none;}
a:hover {color:#333;text-decoration:none;}


/* ========== WebSite ========== */

/* Common */
.w {width:1440px;margin-left:auto;margin-right:auto;}

.footer {background-color:#000;padding:60px 0;}
.footer .logo {float:left;margin-left:30px;height:50px;display:flex;align-items:center;font-size:40px;color:#fff;font-weight:bold;}
.footer .logo img {margin-right:20px;height:100%;}
.footer .link {float:left;margin-left:160px;}
.footer .link a {float:left;margin-right:60px;}
.footer .link a img {display:block;height:50px;}
.footer dl {float:left;margin:60px 0 0 0;}
.footer dl dt {font-size:28px;padding-bottom:5px;color:#10BAF3;font-weight:bold;}
.footer dl dd {font-size:22px;margin-top:15px;color:#fff;}
.footer dl.developer {margin-left:460px;}
.footer dl.email {margin-left:250px;}


/* Index */
.Index .header {background-color:#000;height:80px;display:flex;align-items:center;}
.Index .header .logo {float:left;margin-left:30px;height:50px;display:flex;align-items:center;font-size:40px;color:#fff;font-weight:bold;}
.Index .header .logo img {margin-right:20px;height:100%;}
.Index .header .market {float:right;height:50px;display:flex;align-items:center;font-size:18px;color:#fff;}
.Index .header .market img {display:block;margin-right:5px;}


.Index .banner {background-color:#fff;padding-bottom:5px;}
.Index .banner img {width:100%;display:block;box-shadow:0 0 5px #bbb;border-radius:0 0 10px 10px;}


.Index .video {background-color:#fff;padding:60px 0;}
.Index .video .player {background-color:#333;float:left;width:700px;height:400px;margin-left:30px;}
.Index .video .player iframe {display:block;width:100%;height:100%;}
.Index .video .intro {float:right;width:620px;margin-right:30px;}
.Index .video .intro h3 {font-size:28px;font-weight:bold;padding:30px 0 20px;}
.Index .video .intro p {font-size:24px;color:#777;line-height:1.5;}


.Index .article {background-color:#f5f5f5;box-shadow:0 0 5px #bbb;}
.Index .article .title {text-align:center;height:100px;line-height:100px;display:flex;justify-content:center;border-bottom:1px solid #bbb;}
.Index .article .title a {font-size:40px;display:flex;align-items:center;font-weight:bold;}
.Index .article .title a img {height:50px;display:block;margin-left:20px;}
.Index .article .list {padding:0 100px 60px;}
.Index .article .list li {float:left;width:50%;height:80px;margin-top:60px;font-size:24px;}
.Index .article .list li a {display:flex;align-items:center;}
.Index .article .list li a:hover .icon {transform:translateY(-10px);}
.Index .article .list .text {margin:0 20px;}
.Index .article .list .icon {height:80px;transform:translateY(0);transition:all .3s;}
.Index .article .list .arrow {height:24px;}


/* Article */
.Article .header {background-color:#000;height:290px;}
.Article .header .home {float:right;height:60px;padding:0 20px;display:flex;align-items:center;font-size:28px;margin:40px 40px 0 0;color:#fff;}
.Article .header .home img {display:block;margin-right:10px;}
.Article .header h2 {font-size:70px;color:#F7E910;margin:40px 0 0 0;text-align:center;}


.Article .content {padding:60px 0;}
.Article .content .nav {float:left;width:406px;border-left:4px solid #F7E910;margin-left:30px;padding:30px 0 30px 20px;}
.Article .content .nav.fixed {position:fixed;top:0;}
.Article .content .nav.bottom {top:unset;bottom:448px;}
.Article .content .nav a {color:#aaa;line-height:1.7;}
.Article .content .nav .on {color:#333;}
.Article .content .nav h3 {font-size:18px;}
.Article .content .nav h4 {font-size:15px;font-style:normal;padding-left:22px;}

.Article .content .text {float:right;width:920px;padding:0 30px;font-size:16px;line-height:1.5;}
.Article .content .text h2 {line-height:1;font-size:30px;margin-top:20px;}
.Article .content .text h3 {line-height:1;font-size:24px;margin-top:20px;}
.Article .content .text p {margin-top:10px;}

.Article .content .text table {margin-top:20px;}
.Article .content .text table td {border:1px solid #bbb;padding:10px;}

.Article .content .text img {width:100%;display:block;margin-top:10px;}
.Article .content .text a {color:#10f;text-decoration:underline;}